.input {
  position: relative;

  &__control {
    width: 100%;
    border: 1px solid var(--color-foot-brown);
    border-radius: 8px;
    padding: 8px 24px;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.17;
    @media screen and (min-width: $bp-tablet) {
      padding: 16px 42px;
    }

    &:focus {
      border-color: var(--color-brand-normal);
      outline: none;
    }
    &::placeholder {
      color: var(--color-foot-brown);
      font-size: 16px;
      line-height: 1.17;
    }
    &:focus::placeholder {
      color: var(--color-primary-dark);
    }
  }
  &__label {
    position: absolute;
    top: 16px;
    left: 42px;
  }
}
